<div class="row">
  <div class="col">
    <% if @tag.nil? %>
      <h2>指定した日付けの投稿一覧を表示しています</h2>
    <% else %>
      <h2>タグが「<%= @tag.name %>」の投稿一覧を表示しています</h2>
    <% end %>
    
    <%= render "user/contents/index", contents: @contents %>
    
  </div>
</div>

<%= render 'user/contents/paginate', contents: @contents%>
