<% content.comments.each do |comment| %>
  <div class="card mb-3">
    <div class="card-body">
      <span class="comment-day small"><%= comment.created_at.strftime("%Y-%m-%d %H:%M") %></span>
      <span class="comment-name small"><%= comment.user.name %></span>
      <span>
        <% if comment.user == current_user %>
          <%= link_to '削除する', content_comment_path(content, comment), method: :delete, remote: true, class: "btn btn-danger btn-sm" %>
        <% end %>
      </span>
    　<p class="card-text"><%= comment.comment %></p>
    </div>
  </div>
<% end %>
