<div class="card">
  <div class="card-header">
    <h6 class="card-title">いいね</h6>
  </div>
  <div class="card-body">
    <% if content.favorited_by?(current_user) %>
      <%= link_to content_favorites_path(content.id), method: :delete, remote: true, class: "text-danger font-weight-bold text-decoration-none" do %>
         ♥<%= content.favorites.count %>
      <% end %>
    <% else %>
      <%= link_to content_favorites_path(content.id), method: :post, remote: true, class: "text-danger font-weight-bold text-decoration-none" do %>
        ♡<%= content.favorites.count %>
      <% end %>
    <% end %>
  </div>
</div>

