<div class="row">

    <%= render 'sort_list' %>
    
    <div class="col-md-8">
       <%= render 'index', contents: @contents %>
    </div>
  
    <%= render 'paginate', contents: @contents%>

</div>