<ul class="list-group">
  <!--重複した投稿を表示しないための配列を定義。[]は空の配列を作成するための表記-->
  <% displayed_content_ids = [] %>
    <% if params[:id] %>
      <% @user.comments.each do |comment| %>
      <!--unless displayed_content_ids.include?で重複した投稿を含んでいないものかをチェック-->
        <% unless displayed_content_ids.include?(comment.content.id) %>
          <li class="list-group-item">
            <%= link_to comment.content.title, content_path(comment.content) %>
          </li>
          <!--以下は、表示された投稿をdisplayed_content_ids配列に追加する処理。　<< はRubyの追加する演算子-->
          <% displayed_content_ids << comment.content.id %>
        <% end %>
      <% end %>
    <% else %>
      <% current_user.comments.each do |comment| %>
        <% unless displayed_content_ids.include?(comment.content.id) %>
          <li class="list-group-item">
            <%= link_to comment.content.title, content_path(comment.content) %>
          </li>
          <% displayed_content_ids << comment.content.id %>
        <% end %>
      <% end %>
    <% end %>
</ul>