<ul class="list-group">
  <% if params[:id] %>
    <% @user.contents.each do |content| %>
      <li class="list-group-item">
        <%= link_to content.title, content_path(content) %>
      </li>
    <% end %>
  <% else %>
    <% current_user.contents.each do |content| %>
      <li class="list-group-item">
        <%= link_to content.title, content_path(content) %>
      </li>
    <% end %>
  <% end %>
</ul>