<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card mb-4">
      <div class="card-body">
          
        <%= render 'mypage', contents: @contents, user: @user,favorite_contents: @favorite_contents , comment_contents: @comment_contents %>
          
      </div>
    </div>
  </div>
</div>