// Place all the styles related to the user/contents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.form-group {
    display: inline;
}

.table tbody th {
    padding-right: 50px;
    background-color: red;
}

.table tbody tr {
  height: 40px; /* 行の高さを指定 */
}

.table-main {
  margin-top: 20px; /* 本文以外のテーブルとの間にスペースを追加 */
}
