<div class="steam-all">
  <div class="steam01"> <%= image_tag 'steam01.png', class: "img-fluid" %> </div>
  <div class="steam02"> <%= image_tag 'steam01.png', class: "img-fluid" %> </div>
  <div class="steam01"> <%= image_tag 'steam02.png', class: "img-fluid" %> </div>
</div>